<wia-page-title
    title="Entrada LP"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title>   


<section #containerSection class="container-section flex-wrap">
    <div class="flex-basis-100 flex-grow-1"> 
        @if(!useScanner) {
            <wia-textbox 
                [placeholder]='translatory.label.ManualScanner()' 
                [(ngModel)]="manualScanner"   
                [maxLength]="250"
                marginBottom="10px"  
                (onKeyupEnter)="OnScanCodeDevelopment()"
            ></wia-textbox> 
        }

        <wia-textbox  
            [label]='translatory.label.Transaction()' 
            [(ngModel)]="transaction" 
            [isLoading]="isLoading()" 
            [isReadonly]="true"  
            [maxLength]="250"
            [externalButtons]="{
                showLeft:   IsNotOnlyWhiteSpace(transaction()),
                iconLeft:   'cancel', 
                colorLeft:  'danger',
                showRight:  showSaveButton(),
                iconRight:  'save', 
                colorRight: 'success' 
            }" 
            (onClickLeft)="Cancel(true)"
            (onClickRight)="Save()"
        ></wia-textbox> 
    </div> 
</section>  


<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"    
    [bodySettings]="{ showBorders: true, showRowNumber: true }" 
    [footerSettings]="{ show: false }"  
    [columns]="[ 
        { property: 'LOT_NUMBER' , alias: translatory.label.Lot()     , background: backgroundSCANNED, color: colorSCANNED },
        { property: 'PART_NUMBER', alias: translatory.label.Material(), background: backgroundSCANNED, color: colorSCANNED },
        { property: 'QTY'        , alias: translatory.label.Qty()     , background: backgroundSCANNED, color: colorSCANNED },
        { property: 'EO_NUMBER'  , alias: 'EO'                        , background: backgroundSCANNED, color: colorSCANNED }, 
    ]"> 
    <div [innerHTML]="counter() | html" class="width-100 white-space-normal"></div>
</wia-grid>   


