<wia-page-title
    title="Submodules"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<wia-form #formRef [formGroup]="formGroup" [controls]="[nameRef, ShowIndicatorRef, projectRef, moduleRef, menuTypeRef, iconRef]">
    <section #container class="container-section flex-wrap"> 
        <!-- Name -->
        <div class="flex-basis-100 md-flex-basis-300px md-flex-basis-300px"> 
            <wia-textbox 
                #nameRef
                label="Submodule"
                formControlName="Name"   
                [isInvalid]="formRef.IsInvalidControl('Name')" 
                [isLoading]="isLoading()"  
                (onKeyupEnter)="projectRef.Focus()"
            ></wia-textbox>
        </div>   
        
        <!-- Show Indicator -->
        <div class="flex-basis-auto"> 
            <wia-switch
                #ShowIndicatorRef
                [label]="formRef.GetControlValue('ShowIndicator') ? 'Show Indicator' : 'Hide Indicator'"
                formControlName="ShowIndicator"
                [textColor]="true"
                [isLoading]="isLoading()"       
                (onValueChange)="Patch($event)"           
            ></wia-switch>  
        </div> 
         
        <!-- Action Buttons -->
        <div class="flex-basis-auto margin-left-auto">
            <div class="flex-middle-right gap-5px">
                <!-- Delete -->
                <wia-button
                    label="Delete"
                    color="danger" 
                    icon="delete"
                    [isLoading]="isLoading()"
                    [hidden]="(!isUpdating() || itemList().length > 0) || isLoading()"
                    [breakpoints]="{
                        type: {
                            mv: 'icon-filled-rounded',
                        }
                    }"           
                    (onClick)="Delete()"       
                ></wia-button>
    
                <!-- Save & Update -->
                <wia-button
                    #saveBtnRef
                    label="Save"
                    icon="save"
                    color="success"
                    [isLoading]="isLoading()"
                    [isReadonly]="formRef.IsInvalid()"                     
                    [breakpoints]="{
                        type: {
                            mv: 'icon-filled-rounded', 
                        }
                    }" 
                    (onClick)="Save()"
                ></wia-button>
            </div>
        </div>
    </section>

    <section #container2 class="container-section flex-wrap">
        <!-- Project -->
        <div class="sm-flex-basis-45 md-flex-basis-200px flex-grow-1">
            <wia-selectbox
                #projectRef
                label="Project"
                formControlName="Project"
                [isInvalid]="formRef.IsInvalidControl('Project')" 
                [dataSource]="projectList()"
                [isLoading]="isLoading()"
                (onValueChange)="GetModuleList()"
            ></wia-selectbox>
        </div>

        <!-- Module -->
        <div class="sm-flex-basis-45 md-flex-basis-200px flex-grow-1">
            <wia-selectbox
                #moduleRef
                label="Module"
                formControlName="Module"
                [isReadonly]="moduleList().length <= 0"
                [isInvalid]="formRef.IsInvalidControl('Module')" 
                [dataSource]="moduleList()"
                [isLoading]="isLoading()"
                (onKeyupEnter)="menuTypeRef.Focus()"
            ></wia-selectbox>
        </div>

        <!-- Menu Type -->
        <div class="sm-flex-basis-45 md-flex-basis-200px flex-grow-1">
            <wia-selectbox
                #menuTypeRef
                label="Menu Type"
                formControlName="MenuType"
                [isInvalid]="formRef.IsInvalidControl('MenuType')" 
                [dataSource]="menuTypeList()"
                [isLoading]="isLoading()"
                (onKeyupEnter)="saveBtnRef.Focus()"
            ></wia-selectbox>
        </div>
        
        <!-- Icon -->
        <div class="sm-flex-basis-45 md-flex-basis-200px flex-grow-1">
            <wia-textbox
                #iconRef
                label="Icon"
                formControlName="Icon"
                [isInvalid]="formRef.IsInvalidControl('Icon')" 
                [isLoading]="isLoading()"
                [externalButtons]="{
                    showRight: `${formRef.GetControlValue('Icon', '')}`.length >= 4,
                    isReadonlyRight: true,
                    iconRight: formRef.GetControlValue('Icon')
                }"
            ></wia-textbox> 
        </div>
    </section>
</wia-form>


@if(isUpdating()) {
    <wia-grid
        [value]="itemList()"
        [columns]="[
            { property: 'Icon', alias: ' ', width: '30px', textAlignX: 'center', template: iconTemplate  }, 
            { property: 'Item' },
            { property: 'Type', width: '100px', textAlignX: 'center' },
        ]" 
        [bodySettings]="{ 
            navigateButton: { show: true, path: item => `${item.row.Path}` }
        }"
        [isLoading]="isLoading()"
        [siblings]="[container, container2]"
        height="full"
    ></wia-grid>
}