<wia-page-title
    title="Verificación de inventario"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerSection class="container-section">
    @if(!useScanner) {
        <wia-textbox 
            [placeholder]='translatory.label.ManualScanner()' 
            [(ngModel)]="manualScanner"   
            [maxLength]="250"
            marginBottom="10px" 
            (onKeyupEnter)="OnScanCodeDevelopment()"
        ></wia-textbox> 
    }
 
    <wia-textbox  
        [label]='translatory.label.Location()' 
        [ngModel]="rackLocation()?.Location" 
        [isLoading]="isLoading()" 
        [isReadonly]="true"  
        [maxLength]="500"
        [externalButtons]="{
            showLeft:   IsNotOnlyWhiteSpace(rackLocation()),
            iconLeft:   'cancel', 
            colorLeft:  'danger', 
            showRight:  showSaveButton(),
            iconRight:  'save', 
            colorRight: 'success',
        }" 
        (onClickRight)="Save()" 
        (onClickLeft)="Cancel(true)"
    ></wia-textbox> 
</section>

<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"
    [bodySettings]="{ showBorders: true }" 
    [columns]="[          
        { property: 'LotNumber' , alias: translatory.label.Lot()     , background: backgroundSTATUS, color: colorSTATUS },
        { property: 'PartNumber', alias: translatory.label.Material(), background: backgroundSTATUS, color: colorSTATUS },
        { property: 'Qty'       , alias: translatory.label.Quantity(), background: backgroundSTATUS, color: colorSTATUS }, 
        { property: 'EoNumber'  , alias: 'EO'                        , background: backgroundSTATUS, color: colorSTATUS }, 
    ]"     
></wia-grid> 