<wia-page-title
    title="Engine Stocktaking"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerSection class="container-section flex-wrap">
    <div class="flex-basis-100 flex-grow-1">
        @if(!useScanner) {
            <wia-textbox 
                placeholder='Manual Scanner' 
                [(ngModel)]="manualScanner"   
                [maxLength]="500" 
                (onKeyupEnter)="OnScanCodeDevelopment()"
            ></wia-textbox> 
        }
    </div>

    <div class="flex-basis-45 flex-grow-1">
        <wia-button
            label="Cancel"
            icon="cancel"
            width="100%"
            color="danger"
            [isReadonly]="!showSaveButton()"
            [isLoading]="isLoading()"
            (onClick)="Cancel(true)"
        ></wia-button>
    </div>

    <div class="flex-basis-45 flex-grow-1">
        <wia-button
            label="Save"
            icon="save"
            width="100%"
            [isReadonly]="!showSaveButton()"
            [isLoading]="isLoading()"
            (onClick)="Save()"
        ></wia-button>
    </div>
</section>

<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()" 
    [footerSettings]="{ show: true }" 
    [bodySettings]="{ showRowNumber: isDevelopment }"
    height="full"
    [columns]="[          
        { property: 'Serial' , alias: 'Serial' },
        { property: 'Pallet' , alias: 'Pallet' },
      ]"> 
</wia-grid> 