<wia-page-title
    title="Merge"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 


<section #containerSection class="container-section flex-wrap">
    <div class="flex-basis-100 flex-grow-1"> 
        @if(!useScanner) {
            <wia-textbox 
                placeholder='Manual Scanner' 
                [(ngModel)]="manualScanner"   
                [maxLength]="500" 
                (onKeyupEnter)="OnScanCodeDevelopment()"
            ></wia-textbox> 
        } 
    </div>  

    <div class="flex-basis-46 flex-grow-1"> 
        <wia-radio
            #PRINT
            [(ngModel)]="paperType"
            position="horizontal"
            [isLoading]="isLoading()" 
            [dataSource]="[
                { Label: '2P', Value: '2' },
                { Label: '4P', Value: '4' },
                { Label: '8P', Value: '8' },
            ]" 
        ></wia-radio>
    </div>

    <div class="flex-basis-45 flex-grow-1 flex-middle-right gap-10px"> 
        <wia-button
            icon="cancel"
            label=" "
            color="danger"
            width="100px"
            [isInvisible]="!showSaveButton()"
            (onClick)="Cancel(true)"
        ></wia-button>

        <wia-button
            icon="save"
            label=" "
            color="success"
            width="100px"
            [isInvisible]="!showSaveButton()"
            (onClick)="Save()"
        ></wia-button>
    </div>

    <div class="flex-basis-100 flex-grow-1">
        <wia-selectbox  
            label="Printer"
            [(ngModel)]="printer"
            [dataSource]="printerList()"
            [isLoading]="isLoading()" 
            [isInvalid]="IsNull(printer)" 
        ></wia-selectbox>
    </div> 
</section>  

<wia-grid
    height="full"
    [value]="dataSource()"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"  
    [columns]="[ 
        { property: 'LotNumber'  , alias: 'Lot'     },
        { property: 'PartNumber' , alias: 'Product' },
        { property: 'Qty'        , alias: 'Qty', format: 'number' },
        { property: 'EoNumber'   , alias: 'EO' },
    ]">
    @if(storageCode().isNotOnlyWhiteSpace()) {
        <h3>
            <span>{{ storageCode() }} - {{ storage() }}</span>
        </h3>
    }
</wia-grid>  