<wia-page-title
    title="KD Stock In"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerSection class="container-section">
    @if(!useScanner) {
        <wia-textbox 
            placeholder='Manual Scanner' 
            [(ngModel)]="manualScanner"   
            [maxLength]="250"
            marginBottom="10px" 
            (onKeyupEnter)="OnScanCodeDevelopment()"
        ></wia-textbox> 
    }

    <wia-textbox 
        label='Case Label' 
        [(ngModel)]="transaction" 
        [isLoading]="isLoading()" 
        [isReadonly]="true"  
        [maxLength]="250"
        [externalButtons]="{
            showLeft:   showSaveButton(),
            iconLeft:   'save', 
            colorLeft:  'success',
            showRight:  IsNotOnlyWhiteSpace(transaction()),
            iconRight:  'cancel', 
            colorRight: 'danger'
        }"
        (onClickLeft)="Save()"
        (onClickRight)="Cancel(true)" 
    ></wia-textbox> 
</section>


<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"  
    [bodySettings]="{ showBorders: true }" 
    [columns]="[  
        { property: 'SHPM_NO'      , alias: 'SHPM'       },
        { property: 'CONT_NO'      , alias: 'CONT'       },
    ]" 
></wia-grid>