<wia-page-title
    title="División de Lote"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

@if(!useScanner) { 
    <section class="container-section">
        <wia-textbox
            placeholder='Manual Scanner'
            [(ngModel)]="manualScanner" 
            [maxLength]="250"
            (onKeyupEnter)="OnScanCodeDevelopment()"
        ></wia-textbox>
    </section>
}

<lot-split
    #lotSplitRef 
    [translatory]="translatory"
    [useContainer]="true"
></lot-split>