<wia-page-title
    title="Submodules"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerRef class="container-section flex-wrap">
    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 lg-flex-basis-250px flex-grow-1 lg-flex-grow-0">
        <wia-selectbox
            #projectRef
            label="Project"
            [(ngModel)]="project"
            [dataSource]="projectList()"
            [isLoading]="isLoading()"
            (onValueChange)="GetModuleList()"
        ></wia-selectbox>
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 lg-flex-basis-250px flex-grow-1 lg-flex-grow-0">
        <wia-selectbox
            #moduleRef
            label="Module"
            [(ngModel)]="module"
            [dataSource]="moduleList()"
            [isLoading]="isLoading()"
            [hidden]="IsNull(project())"
            (onValueChange)="GetSubmoduleList()"
        ></wia-selectbox>
    </div>  
</section>

 <wia-grid
    [(ngModel)]="datasource"
    [columns]="[
        { property: 'Icon'    , alias: ' ',    width: '30px', textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Name'    , alias: 'Submodule' },
        { property: 'Module'  , alias: 'Module', width: '200px' },
        { property: 'MenuType', alias: 'Type'  , width: '80px', textAlignX: 'center' }
    ]"
    [headerSettings]="{
        exportButton: { show: true, fileName: 'Submodules', color: 'navigation' },
        addButton: { show: canCreate(), color: 'navigation', path: `${path}/0` },
        search: { show: true }
    }"
    [bodySettings]="{
        navigateButton: { show: true, path: item => `${path}/${item.row.Id}` }
    }"
    [isLoading]="isLoading()"
    [siblings]="[containerRef]"
    height="full"
    (onDoubleClickRow)="router.navigateByUrl(`${path}/${$event.Id}`)"
></wia-grid>