<wia-page-title
    title="Entrada GKD"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 
 
<section #containerSection class="container-section">
    @if(!useScanner) {
        <wia-textbox 
            placeholder='Manual Scanner' 
            [(ngModel)]="manualScanner"   
            [maxLength]="250"
            marginBottom="10px" 
            [translatory]="language()"
            (onKeyupEnter)="OnScanCodeDevelopment()"
        ></wia-textbox> 
    }

    <wia-textbox 
        label='Transaction' 
        [(ngModel)]="transaction" 
        [isLoading]="isLoading()" 
        [isReadonly]="true"  
        [maxLength]="250"
        [translatory]="language()"
        [externalButtons]="{
            showLeft:   IsNotOnlyWhiteSpace(transaction()),
            iconLeft:   'cancel', 
            colorLeft:  'danger',
            showRight:  showSaveButton(),
            iconRight:  'save', 
            colorRight: 'success', 
        }"
        (onClickLeft)="Cancel(true)"
        (onClickRight)="Save()" 
    ></wia-textbox> 
</section>

<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"  
    [bodySettings]="{ showBorders: true }" 
    [columns]="[ 
        { property: 'LotNumber' , alias: 'Lot'    , background: backgroundSTATUS, color: colorSTATUS },
        { property: 'PartNumber', alias: 'Product', background: backgroundSTATUS, color: colorSTATUS },
        { property: 'Qty'       , alias: 'Qty'    , background: backgroundSTATUS, color: colorSTATUS },
        { property: 'EoNumber'  , alias: 'EO'     , background: backgroundSTATUS, color: colorSTATUS }, 
    ]">
    
    @if(IsNotOnlyWhiteSpace(transaction())) {
        <h4 class="width-100 text-align-right color-gray"> 
            {{ indicator() }} <i class="iw-barcode font-size-20px"></i>            
        </h4>
    }
</wia-grid>
