<wia-page-title
    title="Manual Stock IN"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerSection class="container-section">
    @if(!useScanner) {
        <wia-textbox 
            placeholder='Manual Scanner' 
            [(ngModel)]="manualScanner"   
            [maxLength]="250"
            marginBottom="10px" 
            (onKeyupEnter)="OnScanCodeDevelopment()"
        ></wia-textbox> 
    }

    <div class="flex-middle-between">
        <div class="flex-basis-48">
            <wia-button
                color="danger"
                icon="cancel"
                width="100%"
                label="Cancel"
                [isReadonly]="!showSaveButton()"
                (onClick)="Cancel(true)"
            ></wia-button>
        </div>
    
        <div class="flex-basis-48">
            <wia-button
                color="success"
                icon="save"
                width="100%"
                label="Save"
                [isReadonly]="!showSaveButton()"
                (onClick)="Save()"
            ></wia-button>
        </div>
    </div>
</section>

<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"  
    [bodySettings]="{ 
        showBorders: true,
        deleteButton: { show: true, position: 'left', showConfirmation: false }
    }" 
    [columns]="[ 
        { property: 'LOTNO'    , alias: 'Lot'       , background: backgroundSCAN, color: colorSCAN },
        { property: 'PART_NO'  , alias: 'Product'   , background: backgroundSCAN, color: colorSCAN },
        { property: 'QTY'      , alias: 'Qty'       , background: backgroundSCAN, color: colorSCAN },
        { property: 'UNIT'     , alias: 'Unit'      , background: backgroundSCAN, color: colorSCAN }, 
        { property: 'EO_NO'    , alias: 'EO'        , background: backgroundSCAN, color: colorSCAN }, 
        { property: 'VD_CD'    , alias: 'Company'   , background: backgroundSCAN, color: colorSCAN }, 
        { property: 'WH_CD'    , alias: 'Warehouse' , background: backgroundSCAN, color: colorSCAN }, 
        { property: 'MODEL'    , alias: 'Model'     , background: backgroundSCAN, color: colorSCAN }, 
        { property: 'PROD_DATE', alias: 'Date'      , background: backgroundSCAN, color: colorSCAN }, 
    ]" 
></wia-grid>