<wia-page-title
    title="Modules"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<wia-grid
    [(ngModel)]="datasource"
    [columns]="[
        { property: 'Icon'    , alias: ' ',    width: '30px', textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Name'    , alias: 'Module' },
        { property: 'MenuType', alias: 'Type', width: '80px', textAlignX: 'center' }
    ]"
    [headerSettings]="{
        exportButton: { show: true, fileName: 'Modules', color: 'navigation' },
        addButton: { show: canCreate(), color: 'navigation', path: `${path}/0` },
        search: { show: true }
    }"
    [bodySettings]="{
        navigateButton: { show: true, path: item => `${path}/${item.row.Id}` }
    }"
    [isLoading]="isLoading()"
    height="full">

    <wia-selectbox
        #projectRef
        label="Project"
        [(ngModel)]="project"
        [dataSource]="projectList()"
        [isLoading]="isLoading()"
        width="210px"
        (onValueChange)="GetModuleList()"
    ></wia-selectbox>
</wia-grid>