<wia-page-title
    title="Entrada LP"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title>   

<section #containerSection class="container-section flex-wrap">
    <div class="flex-basis-100 flex-grow-1"> 
        @if(!useScanner) {
            <wia-textbox 
                [placeholder]='translatory.label.ManualScanner()' 
                [(ngModel)]="manualScanner"   
                [maxLength]="250"
                marginBottom="10px"  
                (onKeyupEnter)="OnScanCodeDevelopment()"
            ></wia-textbox> 
        }

        <wia-textbox  
            [label]='translatory.label.Transaction()' 
            [(ngModel)]="transaction" 
            [isLoading]="isLoading()" 
            [isReadonly]="true"  
            [maxLength]="250"
            [externalButtons]="{
                showLeft:   IsNotOnlyWhiteSpace(transaction()),
                iconLeft:   'cancel', 
                colorLeft:  'danger',
                showRight:  showSaveButton(),
                iconRight:  'save', 
                colorRight: 'success' 
            }" 
            (onClickLeft)="Cancel(true)"
            (onClickRight)="Save()"
        ></wia-textbox> 
    </div> 
</section>  


<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()"    
    [bodySettings]="{ showBorders: true }"
    [footerSettings]="{ show: false }"  
    [columns]="[ 
        { property: 'LotNumber' , alias: translatory.label.Lot()     , background: backgroundSCAN, color: colorSCAN },
        { property: 'PartNumber', alias: translatory.label.Material(), background: backgroundSCAN, color: colorSCAN },
        { property: 'Qty'       , alias: translatory.label.Quantity(), background: backgroundSCAN, color: colorSCAN },
        { property: 'EoNumber'  , alias: 'EO'                        , background: backgroundSCAN, color: colorSCAN }, 
    ]">    
    @if(IsNotOnlyWhiteSpace(transaction())) {
        <h4 class="width-100 text-align-right color-gray"> 
            {{ indicator() }} <i class="iw-barcode font-size-20px"></i>
        </h4>
    }
</wia-grid>   


