<wia-page-title
    title="Pages"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerRef class="container-section flex-wrap">
    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-selectbox
            #projectRef
            label="Project"
            [(ngModel)]="project"
            [dataSource]="projectList()"
            [isLoading]="isLoading()"
            (onValueChange)="GetModuleList()"
        ></wia-selectbox> 
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-selectbox
            #moduleRef
            label="Module"
            [(ngModel)]="module"
            [dataSource]="moduleList()"
            [isLoading]="isLoading()"
            [isReadonly]="IsNull(project())"
            (onValueChange)="GetSubmoduleList()"
        ></wia-selectbox>
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-selectbox
            #submoduleRef
            label="Submodule"
            [(ngModel)]="submodule"
            [dataSource]="submoduleList()"
            [isLoading]="isLoading()"
            [isReadonly]="IsNull(module())"
            (onValueChange)="GetPageList()"
        ></wia-selectbox>
    </div> 
</section>

<wia-grid
    [(ngModel)]="pageList"
    [columns]="[
        { property: 'Icon'     , width: '30px' , alias: ' '   ,  textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Name'     , width: '150px', alias: 'Page',  },
        { property: 'Module'   , width: '150px' },
        { property: 'Submodule', width: '150px' },
        { property: 'Path' },
        { property: 'IsActive' , width: '80px' , alias: 'Status', textAlignX: 'center', template: isActiveTemplate }, 
    ]"
    [headerSettings]="{
        exportButton: { show: true, fileName: 'Pages', color: 'navigation' },
        addButton: { show: true, color: 'navigation', path: `${path}/0` },
        search: { show: true }
    }"
    [bodySettings]="{
        navigateButton: { show: true, path: item => `${path}/${item.row.Id}` }
    }"
    [isLoading]="isLoading()"
    [siblings]="[containerRef]"
    height="full">

    <wia-switch
        #IsActive
        [label]="onlyActive() ? 'Only Active' : 'All'"
        [(ngModel)]="onlyActive"
        [textColor]="true"
        [isInvisible]="IsNull(project())"
        [isLoading]="isLoading()"       
        (onValueChange)="GetPageList()"
    ></wia-switch>  
</wia-grid>