<wia-page-title
    title="Sidenav"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title>  


<!-- LV1 -->
<wia-grid
    [(ngModel)]="level1"
    [columns]="[
        { property: 'Icon', alias: ' ', width: '30px', textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Label' }, 
    ]" 
    [headerSettings]="{
        saveButton: { show: level1().length > 1 }
    }" 
    [bodySettings]="{
        navigateButton: { show: navigateButton }
    }"
    [isDraggable]="true"
    [isLoading]="isLoading()"
    height="full" 
    [hidden]="IsNotNull(module())"
    (onClickSave)="UpdateLevel1()"
    (onClickNavigateRow)="GetLevel2($event)">

    <wia-selectbox 
        label="Project"
        [(ngModel)]="project"
        [dataSource]="projectList()"
        [isLoading]="isLoading()"
        width="250px"
        (onValueChange)="GetLevel1()"
    ></wia-selectbox>
</wia-grid>


<!-- LV2 -->
<wia-grid
    [(ngModel)]="level2"
    [columns]="[
        { property: 'Icon', alias: ' ', width: '30px', textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Label' }, 
    ]" 
    [headerSettings]="{
        backButton: { show: true },
        saveButton: { show: level2().length > 1 }
    }" 
    [bodySettings]="{
        navigateButton: { show: navigateButton }
    }"
    [isDraggable]="true"
    [isLoading]="isLoading()"
    height="full"
    [hidden]="IsNull(module()) || IsNotNull(submodule())"
    (onClickSave)="UpdateLevel2()"
    (onClickNavigateRow)="GetLevel3($event)"
    (onClickBack)="GetLevel1()">
    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-textbox
            label="Project"
            [value]="project()?.Name"
            [isLoading]="isLoading()"
            [isReadonly]="true" 
        ></wia-textbox> 
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-textbox
            label="Module"
            [value]="module()?.Label"
            [isLoading]="isLoading()"
            [isReadonly]="true" 
        ></wia-textbox> 
    </div>
</wia-grid>


<!-- LV3 -->
<wia-grid
    [(ngModel)]="level3"
    [columns]="[
        { property: 'Icon', alias: ' ', width: '30px', textAlignX: 'center', template: iconTemplate  }, 
        { property: 'Label' }, 
    ]" 
    [headerSettings]="{
        backButton: { show: true },
        saveButton: { show: level3().length > 1 }
    }" 
    [isDraggable]="true"
    [isLoading]="isLoading()"
    height="full"
    [hidden]="IsNull(submodule())"
    (onClickSave)="UpdateLevel3()" 
    (onClickBack)="GetLevel2(module()!)"> 
    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-textbox
            label="Project"
            [value]="project()?.Name"
            [isLoading]="isLoading()"
            [isReadonly]="true" 
        ></wia-textbox>  
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-textbox
            label="Module"
            [value]="module()?.Label"
            [isLoading]="isLoading()"
            [isReadonly]="true" 
        ></wia-textbox> 
    </div>

    <div class="flex-basis-100 xs-flex-basis-45 md-flex-basis-30 flex-grow-1">
        <wia-textbox
            label="Submodule"
            [value]="submodule()?.Label"
            [isLoading]="isLoading()"
            [isReadonly]="true" 
        ></wia-textbox> 
    </div> 
</wia-grid>