<wia-page-title
    title="Roles"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<wia-grid
    [(ngModel)]="roleList"
    height="full"
    [isLoading]="isLoading()"
    [columns]="[  
        { property: 'Name', alias: 'role', width: '150px' },
        { property: 'About' },
        { property: 'IsActive', alias: 'Status', textAlignX: 'center', width: '100px', template: isActiveTemplate } 
    ]"
    [headerSettings]="{
        addButton: { show: canCreate(), color: 'navigation', path: `${path}/0` },
        search: { show: true }
    }"
    [bodySettings]="{
        navigateButton: { show: true, path: item => `${path}/${item.row.Id}` }
    }"
    (onDoubleClickRow)="router.navigateByUrl(`${path}/${$event.Id}`)"
></wia-grid>