<wia-page-title
    title="Inspeccion de Inventario"
    [breadcrumbs]="breadcrumbs()"
    [goBack]="goBack"
></wia-page-title> 

<section #containerSection class="container-section flex-wrap">
    <div class="flex-basis-100 flex-grow-1"> 
        @if(!useScanner) {
            <wia-textbox 
                placeholder='Manual Scanner' 
                [(ngModel)]="manualScanner"   
                [maxLength]="500"
                marginBottom="15px" 
                (onKeyupEnter)="OnScanCodeDevelopment()"
            ></wia-textbox> 
        }

        <div [ngClass]="{ 'display-none': false }">
            <wia-selectbox
                #storageRef
                label="Storage"
                [(ngModel)]="storage"
                [dataSource]="storageList()" 
                [isLoading]="isLoading()"
                marginBottom="15px"
                (onValueChange)="GetInspNumberList()"
            ></wia-selectbox>
        </div>

        <div [ngClass]="{ 'display-none': false }">
            <wia-selectbox
                #inspectionNumRef
                label="Inspection Number"
                [(ngModel)]="inspectionNumber"
                [dataSource]="inspectionNumberList()" 
                displayProperty="InspectionNumber"
                [isReadonly]="IsNull(this.storage()) || (dataSource().length > 0)"
                [isLoading]="isLoading()" 
                [externalButtons]="{
                    showLeft:   showSaveButton(),
                    iconLeft:   'save', 
                    colorLeft:  'success',
                    showRight:  showSaveButton(),
                    iconRight:  'cancel', 
                    colorRight: 'danger'
                }"
                (onClickLeft)="Save()"
                (onClickRight)="Cancel(true)" 
            ></wia-selectbox>
        </div> 
    </div> 
</section> 

<wia-grid
    height="full"
    [(ngModel)]="dataSource"
    [siblings]="[containerSection]"
    [isLoading]="isLoading()" 
    [footerSettings]="{ show: true }" 
    [bodySettings]="{ showRowNumber: isDevelopment }"
    [columns]="[          
        { property: 'LotNumber' , alias: 'Lot'    , background: backgroundSTATUS, color: colorSTATUS },
        { property: 'PartNumber', alias: 'Product', background: backgroundSTATUS, color: colorSTATUS },
        { property: 'Qty'       , alias: 'Qty'    , background: backgroundSTATUS, color: colorSTATUS }, 
        { property: 'EoNumber'  , alias: 'EO'     , background: backgroundSTATUS, color: colorSTATUS }, 
    ]"> 
</wia-grid> 